/* Estilo para el encabezado */
.headerID {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  }
  
  /* Estilo para la barra */
  
  
  /* Estilo para la imagen del usuario */
  .userID .img1 {
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    border-radius: 100%; /* Para hacerla redonda */
    margin-right: 100px; /* Espacio entre la imagen y el texto */
    
  }
  
  /* Estilo para el nombre del usuario */
  .name {
    font-size: 20px; /* Tamaño del texto */
    margin-right: 100px;
  }
  .bodyID {
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
      padding: 0;
      margin: 0;
    }
    
  .navID {
      position: absolute;
      height: 100vh;
      display: flex;
      flex-direction: column;
      width: 52px;
      background-color: #221f1fc2;
      overflow: hidden;
      transition: width 0.3s;
    }
    
    .navID:hover {
      width: 400px;
    }
    
    .navID .barID {
      background-color: black;
      color: white;
      display: flex;
      justify-content: end;
    }
    
    .navID .userID{
      color: white;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      height: 180px;
      transform: translateX(-300px);
      opacity: 0;
      transition: transform 0.2s ease, opacity 0.2s ease;
    }
    .navID:hover .userID {
      transform: translateX(0);
      opacity: 1;
    }
    
   
    .navID .linksID {
    }
    
    .navID .linksID a {
      color: white;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
      width: 400px;
      overflow: hidden;
      
    }
    .navID .linksID a:hover {
      background-color: rgb(31, 135, 205);
      color: white;
    }
    
    .navID .linksID a .icon {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .cardsID {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin-left: 80px; 
     
    }
    
    .flip-cardID {
      background-color: transparent;
      width: 350px;
      height: 350px;
      border: 1px solid #f1f1f1;
      perspective: 1000px; 
      margin: 10px; 
    }
    
  
    .flip-card-innerID {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    
    .flip-cardID:hover .flip-card-innerID {
      transform: rotateY(180deg);
    }
    
    
    .flip-card-frontID,
    .flip-card-backID {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; 
      backface-visibility: hidden;
    }
    
    
    .flip-card-frontID {
      background-color: #221f1fc2;
      color: black;
      
    }
    
    .flip-card-frontID, img{
      width: 300px; height: 300px
    }
    
    .flip-card-backID {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }