/* Estilo para el encabezado */
.headerIE {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  }
  
  /* Estilo para la barra */
  
  
  /* Estilo para la imagen del usuario */
  .userIE .img2 {
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
    border-radius: 100%; /* Para hacerla redonda */
    margin-right: 100px; /* Espacio entre la imagen y el texto */
    
  }
  
  /* Estilo para el nombre del usuario */
  .name {
    font-size: 20px; /* Tamaño del texto */
    margin-right: 100px;
  }
  .bodyIE {
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
      padding: 0;
      margin: 0;
    }
    
  .navIE {
      position: absolute;
      height: 100vh;
      display: flex;
      flex-direction: column;
      width: 52px;
      background-color: #9c2929c2;
      overflow: hidden;
      transition: width 0.3s;
    }
    
    .navIE:hover {
      width: 400px;
    }
    
    .navIE .barIE {
      background-color: black;
      color: white;
      display: flex;
      justify-content: end;
    }
    
    .navIE .userIE{
      color: white;
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      height: 180px;
      transform: translateX(-300px);
      opacity: 0;
      transition: transform 0.2s ease, opacity 0.2s ease;
    }
    .navIE:hover .userIE {
      transform: translateX(0);
      opacity: 1;
    }
    
   
    .navIE .linksIE {
    }
    
    .navIE .linksIE a {
      color: white;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
      width: 400px;
      overflow: hidden;
      
    }
    .navIE .linksIE a:hover {
      background-color: rgb(31, 135, 205);
      color: white;
    }
    
    .navIE .linksIE a .icon {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
  
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar .imgPDE {
    width: 120%;
    height: 120%;
    position: auto;
    border-radius: 100%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

